@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: $header-shadow;
  background-color: $header-background;
  height: $header-height;
  z-index: 1000;

  & .title {
    cursor: pointer;
    // Override default link attributes
    text-decoration: none;
    color: inherit;

    &__text {
      font-size: 1.2rem;
      padding: 0.2rem 0;
    }
  }
}
