@import 'variables';

.item {
  margin: 0.5rem;
  cursor: pointer;

  .unchecked {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    margin-right: 0.5rem;
  }

  .checked {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    margin-right: 0.5rem;
    background-color: black;
  }
}
